<div class="login-container">

    <div class="left-panel">
        <img src="assets/logo.png" alt="Logo">
        <h1>WELCOME TO</h1>
        <h2>FITLIFE GYM</h2>
    </div>

    <div class="right-panel">

        <div class="login-card">

            <img src="assets/logo1.png" class="logo">

            <h2>Iniciar sesión</h2>

            <div class="input-group">
                <span class="material-icons">person</span>
                <input type="usuario" placeholder="Admin">
            </div>

            <div class="input-group">
                <span class="material-icons">lock</span>
                <input type="password" placeholder="Contraseña">
            </div>

            <button (click)="login()">
                Iniciar sesión
            </button>

        </div>

    </div>

</div>